@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/* OVERRIDES */
*,
*:before,
*:after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* GENERAL */
html {
  background-color: #faebd7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 90%;
  height: auto;
}

/* HEADER/NAV */
header {
  background-color: #6495ed;
  text-align: right;
  padding: 2em;
}

hr {
  width: 100%;
}

header h1 {
  margin: 0;
}
header h1 a {
  color: white;
}

h1,
h2 {
  font-family: Lora;
  font-size: 1.75em;
}

nav ul li {
  list-style: none;
  padding: 0.5em 0;
}

nav ul li a,
nav ul li a:visited {
  color: #faebd7;
}
nav ul li a:hover {
  text-decoration: underline;
  color: white;
}
nav ul li a:active {
  text-decoration: underline;
  color: var(--active);
}

/* BODY */
h2 {
  margin: 0.25em 0 2em 0;
}
h2 > a {
  color: black;
}
h2 > a:active {
  color: #deb887;
}
h2 > a:hover {
  text-decoration: underline;
}

article {
  padding: 1em;
  margin: 1.75em 1em;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
}

.post-date {
  color: gray;
  font-size: 0.9em;
}

section > p {
  font-size: 0.9em;
}
section > p > a {
  color: black;
}
section > p > a:active {
  color: #deb887;
}
section > p > a:hover {
  color: #6495ed;
  text-decoration: underline;
}

.test-Mixin {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
}

/* Media Queries */
@media screen and (min-width: 580px) {
  body > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  header {
    grid-column: 1;
    position: fixed;
    height: 100%;
    width: 250px;
  }

  main {
    grid-column: 2;
    text-align: center;
  }

  article {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}